<%= form_with(model: newsletter) do |form| %>
  <% if newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
        <% newsletter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2"></div>
      <div class="col-md-4">
        <img class="splash-logo" src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg">
        <br>
        <br>
        <div class="row text-justify">
          <strong class="text-secondary">
            <p class="text-center"><%= t('subscribe_welcome') %> </p>
            <p class="text-center"><%= t('subscribe_text') %></p>
          </strong>
        </div>
          <div class="mb-3">
            <%= form.label :email, class: "form-label text-secondary" %>
            <%= form.email_field :email, class: "form-control" %>
          </div>
          <label class="form-label text-secondary"><%= t('preferences') %></label>
          <div class="mb-3 form-check">
            <%= form.label :woman, t('woman_fashion'), class: "form-label text-secondary text-dark" %>
            <%= form.check_box :woman, class: "form-check-input"%>
          </div>
          <div class="mb-3 form-check">
            <%= form.label :man, t('man_fashion'), class: "form-label text-secondary text-dark" %>
            <%= form.check_box :man, class: "form-check-input"%>
          </div>
          <div class="mb-3 form-check">
            <%= form.label :child, t('child_fashion'), class: "form-label text-secondary text-dark" %>
            <%= form.check_box :child, class: "form-check-input"%>
          </div>
          <div class="row justify-content-center">
            <div class="col-3 text-center">
              <%= form.submit t('subscribe'), class:"btn btn-success"%>
            </div>
          </div>
      </div>
      <div class="col col-lg-2"></div>
    </div>
  </div>
<% end %>
